* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Rubik', Arial, sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 4.44vw;
}

h1 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: #FFFFFF;
  font-size: calc( (100vw - 880px)/(1440 - 880) * (18 - 16) + 16px);
  line-height: 1.67vw;
  font-weight: 400;
}

a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ADADAD;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #111111;
}

@media (max-width: 880px) {
  .header {
    height: 60px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 4.17vw;
}

@media (max-width: 1280px) {
  .header__logo {
    margin-right: 10px;
  }
}

@media (max-width: 1080px) {
  .header__logo {
    margin-right: 0px;
  }
}

@media (max-width: 880px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__menu {
  width: 55.5%;
}

@media (max-width: 1080px) {
  .header__menu {
    width: 75%;
  }
}

@media (max-width: 880px) {
  .header__menu {
    display: none;
  }
}

.header__number {
  margin-right: 3.13vw;
}

@media (max-width: 1280px) {
  .header__number {
    margin-right: 0;
  }
}

@media (max-width: 1080px) {
  .header__number {
    display: none;
  }
}

.header__cart {
  margin-right: 0.56vw;
}

@media (max-width: 1280px) {
  .header__cart {
    margin-right: 0;
  }
}

@media (max-width: 880px) {
  .header__cart {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.product {
  padding: 4.31vw 0;
  background-image: url("../img/product/bg.png");
  background-position: center -81px;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 880px) {
  .product {
    padding: 2.31vw 0;
  }
}

@media (max-width: 880px) {
  .product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__main-title {
  margin-top: 2.99vw;
  max-width: 70vw;
  font-size: calc( (100vw - 320px)/(1440 - 320) * (144 - 28) + 28px);
  line-height: 10.56vw;
  font-weight: 700;
  margin-bottom: 2.15vw;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

@media (max-width: 880px) {
  .product__main-title {
    text-align: center;
    line-height: 9vw;
    margin-bottom: 17vw;
  }
}

.product__main-subtitle {
  max-width: 45vw;
  margin-bottom: 7.5vw;
  font-size: calc( (100vw - 320px)/(1440 - 320) * (24 - 16) + 16px);
  line-height: 1.94vw;
}

@media (max-width: 1080px) {
  .product__main-subtitle {
    max-width: 48vw;
    line-height: 20px;
  }
}

@media (max-width: 880px) {
  .product__main-subtitle {
    max-width: 55vw;
    text-align: center;
    line-height: 17px;
    margin-bottom: 6.5vw;
  }
}

@media (max-width: 480px) {
  .product__main-subtitle {
    margin-bottom: 5vw;
    max-width: 85%;
  }
}

.product__mini-title {
  margin-bottom: 0.6vw;
  text-transform: uppercase;
  font-size: calc( (100vw - 320px)/(1440 - 320) * (36 - 20) + 20px);
  line-height: 2.92vw;
  font-weight: 700;
}

@media (max-width: 1080px) {
  .product__mini-title {
    line-height: 30px;
  }
}

@media (max-width: 880px) {
  .product__mini-title {
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

.product__mini-subtitle {
  max-width: 24vw;
  margin-bottom: 2.22vw;
  font-size: calc( (100vw - 320px)/(1440 - 320) * (18 - 16) + 16px);
  line-height: 1.46vw;
  font-weight: 400;
}

@media (max-width: 1080px) {
  .product__mini-subtitle {
    max-width: 30vw;
    line-height: 16px;
  }
}

@media (max-width: 880px) {
  .product__mini-subtitle {
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .product__mini-subtitle {
    max-width: 85%;
    margin-bottom: 18vw;
  }
}

.product__img-nootris {
  background-image: url("../img/product/nootris.png");
  width: 15.56vw;
  height: 44.10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 4.44vw;
  right: 10.11vw;
  z-index: 1;
}

@media (max-width: 880px) {
  .product__img-nootris {
    width: 10.83vw;
    height: 30.83vw;
    top: 16.5vw;
    right: calc(50% - 4.65vw);
    rotate: -90deg;
  }
}

.product__img-lemon {
  width: 37.01vw;
  height: 32.08vw;
  background-image: url("../img/product/lemon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 30.7vw;
  right: 16vw;
  position: absolute;
  z-index: 2;
}

@media (max-width: 880px) {
  .product__img-lemon {
    z-index: 0;
    width: 25.90vw;
    height: 22.43vw;
    top: 82%;
    left: 13.00vw;
  }
}

@media (max-width: 480px) {
  .product__img-lemon {
    left: 30vw;
    z-index: 1;
  }
}

.product__img-ginger {
  width: 34.44vw;
  height: 28.33vw;
  background-image: url("../img/product/ginger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 18.9vw;
  right: 3.4vw;
  position: absolute;
  z-index: 0;
}

@media (max-width: 880px) {
  .product__img-ginger {
    width: 24.10vw;
    height: 19.79vw;
    top: 82%;
    right: 15.00vw;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
}

@media (max-width: 480px) {
  .product__img-ginger {
    right: 33vw;
  }
}

.sale {
  width: 100%;
  height: 926px;
  background-color: black;
}

.logo {
  display: block;
  width: 120px;
  height: 34px;
  background-image: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 880px) {
  .logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart {
  width: 32px;
  height: 28px;
  background-image: url("../img/header/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

@media (max-width: 480px) {
  .cart {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.cart__quantity {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FCB500;
  border-radius: 50%;
  bottom: -7px;
  right: -7px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .cart__quantity {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.burger {
  display: none;
}

@media (max-width: 880px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .burger {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.burger:hover .burger__line, .burger:hover .burger__line::before, .burger:hover .burger__line::after {
  background-color: #ADADAD;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 880px) {
  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
}

.burger__line:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
}

.burger__line:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */