* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Rubik', Arial, sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 64px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 4.44vw;
  }
}

h1 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ADADAD;
}

@media (max-width: 1440px) {
  a {
    font-size: calc( (100vw - 880px)/(1440 - 880) * (18 - 16) + 16px);
    line-height: 1.67vw;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #111111;
}

@media (max-width: 880px) {
  .header {
    height: 60px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 62px;
}

@media (max-width: 1440px) {
  .header__logo {
    margin-right: 4.17vw;
  }
}

@media (max-width: 1280px) {
  .header__logo {
    margin-right: 10px;
  }
}

@media (max-width: 1080px) {
  .header__logo {
    margin-right: 0px;
  }
}

@media (max-width: 880px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__menu {
  width: 55%;
}

@media (max-width: 1080px) {
  .header__menu {
    width: 75%;
  }
}

@media (max-width: 880px) {
  .header__menu {
    display: none;
  }
}

.header__number {
  margin-right: 46px;
}

@media (max-width: 1440px) {
  .header__number {
    margin-right: 3.13vw;
  }
}

@media (max-width: 1280px) {
  .header__number {
    margin-right: 0;
  }
}

@media (max-width: 1080px) {
  .header__number {
    display: none;
  }
}

.header__cart {
  margin-right: 24px;
}

@media (max-width: 1440px) {
  .header__cart {
    margin-right: 1.6vw;
  }
}

@media (max-width: 1280px) {
  .header__cart {
    margin-right: 0;
  }
}

@media (max-width: 880px) {
  .header__cart {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.product {
  padding: 62px 0;
  background-image: url("../img/product/bg.png");
  background-color: #111111;
  background-position: center -81px;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (max-width: 1440px) {
  .product {
    padding: 4.31vw 0;
  }
}

@media (max-width: 880px) {
  .product {
    padding: 2.31vw 0;
  }
}

.product__container {
  position: relative;
}

@media (max-width: 880px) {
  .product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__main-title {
  margin-top: 42px;
  font-size: 144px;
  line-height: 152px;
  font-weight: 700;
  margin-bottom: 31px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .product__main-title {
    margin-top: 2.99vw;
    max-width: 70vw;
    font-size: calc( (100vw - 320px)/(1440 - 320) * (144 - 28) + 28px);
    line-height: 10.56vw;
    margin-bottom: 2.15vw;
  }
}

@media (max-width: 880px) {
  .product__main-title {
    text-align: center;
    line-height: 9vw;
    margin-bottom: 17vw;
  }
}

.product__main-subtitle {
  max-width: 659px;
  margin-bottom: 109px;
  font-size: 24px;
  line-height: 28.44px;
}

@media (max-width: 1440px) {
  .product__main-subtitle {
    max-width: 45vw;
    margin-bottom: 7.5vw;
    font-size: calc( (100vw - 320px)/(1440 - 320) * (24 - 16) + 16px);
    line-height: 1.94vw;
  }
}

@media (max-width: 1080px) {
  .product__main-subtitle {
    max-width: 48vw;
    line-height: 20px;
  }
}

@media (max-width: 880px) {
  .product__main-subtitle {
    max-width: 55vw;
    text-align: center;
    line-height: 17px;
    margin-bottom: 6.5vw;
  }
}

@media (max-width: 480px) {
  .product__main-subtitle {
    margin-bottom: 5vw;
    max-width: 85%;
  }
}

.product__mini-title {
  margin-bottom: 7px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42.66px;
  font-weight: 700;
}

@media (max-width: 1440px) {
  .product__mini-title {
    margin-bottom: 0.6vw;
    font-size: calc( (100vw - 320px)/(1440 - 320) * (36 - 20) + 20px);
    line-height: 2.92vw;
  }
}

@media (max-width: 1080px) {
  .product__mini-title {
    line-height: 30px;
  }
}

@media (max-width: 880px) {
  .product__mini-title {
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

.product__mini-subtitle {
  max-width: 410px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 21.33px;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .product__mini-subtitle {
    max-width: 24vw;
    margin-bottom: 2.22vw;
    font-size: calc( (100vw - 320px)/(1440 - 320) * (18 - 16) + 16px);
    line-height: 1.46vw;
  }
}

@media (max-width: 1080px) {
  .product__mini-subtitle {
    max-width: 30vw;
    line-height: 16px;
  }
}

@media (max-width: 880px) {
  .product__mini-subtitle {
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .product__mini-subtitle {
    max-width: 85%;
    margin-bottom: 18vw;
  }
}

.product__img-nootris {
  background-image: url("../img/product/nootris.png");
  width: 224px;
  height: 635px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -42px;
  right: 161px;
  z-index: 1;
}

@media (max-width: 1440px) {
  .product__img-nootris {
    width: 15.56vw;
    height: 44.10vw;
    top: -3vw;
    right: 11.1vw;
  }
}

@media (max-width: 880px) {
  .product__img-nootris {
    width: 10.83vw;
    height: 30.83vw;
    top: 16.5vw;
    right: calc(50% - 4.65vw);
    rotate: -90deg;
  }
}

.product__img-lemon {
  width: 533px;
  height: 462px;
  background-image: url("../img/product/lemon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 338px;
  right: 245px;
  position: absolute;
  z-index: 2;
}

@media (max-width: 1440px) {
  .product__img-lemon {
    width: 37.01vw;
    height: 32.08vw;
    top: 23.5vw;
    right: 16.8vw;
  }
}

@media (max-width: 880px) {
  .product__img-lemon {
    z-index: 0;
    width: 25.90vw;
    height: 22.43vw;
    top: 82%;
    left: 13.00vw;
  }
}

@media (max-width: 480px) {
  .product__img-lemon {
    left: 30vw;
    z-index: 1;
  }
}

.product__img-ginger {
  width: 496px;
  height: 408px;
  background-image: url("../img/product/ginger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 170px;
  right: 65px;
  position: absolute;
  z-index: 0;
}

@media (max-width: 1440px) {
  .product__img-ginger {
    width: 34.44vw;
    height: 28.33vw;
    top: 11.8vw;
    right: 4.4vw;
  }
}

@media (max-width: 880px) {
  .product__img-ginger {
    width: 24.10vw;
    height: 19.79vw;
    top: 82%;
    right: 15.00vw;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
}

@media (max-width: 480px) {
  .product__img-ginger {
    right: 33vw;
  }
}

.sale {
  width: 100%;
  background-color: #111111;
  padding: 114px 0;
  color: #FFFFFF;
  text-align: center;
}

.sale span {
  color: #FCB500;
}

@media (max-width: 1440px) {
  .sale {
    padding: 7.9vw 0;
  }
}

.sale__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__main-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.88px;
  text-transform: uppercase;
  margin-bottom: 77px;
}

@media (max-width: 1440px) {
  .sale__main-title {
    font-size: calc( (100vw - 320px)/(1440 - 320) * (48 - 22) + 22px);
    line-height: 3.96vw;
    margin-bottom: 5.35vw;
  }
}

.sale__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 272px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}

@media (max-width: 1440px) {
  .sale__price {
    max-width: 19vw;
    margin-bottom: 3.4vw;
  }
}

.sale__price--old {
  color: #ADADAD;
  font-size: 36px;
  position: relative;
  margin-left: 22px;
}

@media (max-width: 1440px) {
  .sale__price--old {
    margin-left: 1.5vw;
  }
}

.sale__price--old::after {
  content: "";
  display: block;
  width: 112px;
  height: 2px;
  background-color: #ADADAD;
  position: absolute;
  top: 21px;
  right: -12px;
}

.sale__price--new {
  color: #FFFFFF;
  font-size: 48px;
}

.sale__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 193px 480px 193px;
      grid-template-columns: 193px 480px 193px;
  -ms-grid-rows: 168px 80px;
      grid-template-rows: 168px 80px;
  justify-items: center;
  -webkit-column-gap: 111px;
          column-gap: 111px;
  row-gap: 37px;
  margin-bottom: 64px;
}

.sale__ginger-title, .sale__vorus-title {
  font-size: 18px;
  line-height: 21px;
}

.sale__ginger-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: inherit;
  width: 193px;
  height: 160px;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

@media (max-width: 1440px) {
  .sale__ginger-img {
    -webkit-transform: translateY(-0.21vw);
            transform: translateY(-0.21vw);
  }
}

.sale__ginger-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.sale__vorus-img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 192px;
  height: 160px;
}

.sale__vorus-title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.sale__nootris-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 480px;
  height: 160px;
}

.sale__nootris-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 36px;
  line-height: 39px;
  -webkit-transform: translate(-3px);
          transform: translate(-3px);
}

.sale__nootris-title span {
  font-size: 24px;
  line-height: 28px;
}

.sale__button {
  width: 256px;
  height: 56px;
}

.logo {
  display: block;
  width: 120px;
  height: 34px;
  background-image: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 880px) {
  .logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart {
  width: 32px;
  height: 28px;
  background-image: url("../img/header/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

@media (max-width: 480px) {
  .cart {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.cart__quantity {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FCB500;
  border-radius: 50%;
  bottom: -7px;
  right: -7px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .cart__quantity {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.burger {
  display: none;
}

@media (max-width: 880px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .burger {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.burger:hover .burger__line, .burger:hover .burger__line::before, .burger:hover .burger__line::after {
  background-color: #ADADAD;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 880px) {
  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
}

.burger__line:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
}

.burger__line:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
}

.button {
  border: none;
  background-color: #FCB500;
  color: #000;
  border-radius: 7px;
  padding: 16px 32px;
  cursor: pointer;
  line-height: 21px;
  font-size: 18px;
}

.button:hover {
  background-color: #ADADAD;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */