.header {
  display: flex;
  height: 80px;
  background-color: $dark;
  @include tablet {
    height: 60px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.header__logo {
  margin-right: 4.17vw;
  @include desctop {
    margin-right: 10px;
  }
  @include laptop {
    margin-right: 0px;
  }
  @include tablet {
    order: 1;
  }
}

.header__menu {
  width: 55.5%;
  @include laptop {
    width: 75%;
  }
  @include tablet {
    display: none;
  }
}

.header__number {
  margin-right: 3.13vw;
  @include desctop {
    margin-right: 0;
  }
  @include laptop {
    display: none;
  }
}

.header__cart {
  margin-right: 0.56vw;
  @include desctop {
    margin-right: 0;
  }
  @include tablet {
    order: 2;
  }
}