.button {
  border: none;
  background-color: $orange;
  color: #000;
  border-radius: 7px;
  padding: 16px 32px;
  cursor: pointer;
  line-height: 21px;
  font-size: 18px;
  &:hover {
    background-color: $grey;
    transition: all 0.3s ease-in-out;
  }
}