.logo {
  display: block;
  width: 120px;
  height: 34px;
  background-image: url('../img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include tablet {
    transform: scale(0.8);
  }
}